body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
}

.platform {
  outline: 2px solid grey;
}

.row {
  height: 50px;
}
.cell {
  width: 50px;
  height: 50px;
  outline: 1px solid grey;
  display: inline-block;
}
.snake-cell {
  background-color: rgb(165, 141, 187);
}
.food-cell {
  background-color: black;
}

.startClass {
  border: none;
  margin: 20px;
  background-color: rgb(143, 82, 199);
  color: white;
  padding: 10px;
}

.gameOnClass {
  border: none;
  margin: 20px;
  background-color: rgb(143, 82, 199);
  color: white;
  padding: 10px;
  opacity: 0.2;
}
